<section class="container justify-content-evenly">
    <div class="loginbox">
        <div class="blurred-box">
            <h5 class="text-center">Login In</h5>
            <div class="user-login-box">
                <span class="user-icon"></span>
                <input class="user-name" type="text" placeholder="Username" />
                <input class="user-password" type="text" placeholder="password" />
            </div>
            <button class="login-button text-center">Login</button>
            <button class="sign-up">Sign up!</button>
        </div>
    </div>
</section>

<script src="js/login.js"></script>