
   
<section class="container justify-content-evenly">
    <div class="">
        <div class="blurred-box logout">
            <h5 class="text-center">You are now logged out</h5>
            <div class="user-login-box">
                <p> Log back in to enjoy premium blog features.</p>
            </div>
        </div>
    </div>
</section>