<section class="container justify-content-evenly">
    <div class="signup-box">
        <div class="blurred-box">
            <h5 class="text-center">Sign Up</h5>
            <div class="user-login-box">
                <span class="user-icon-signup"></span>
                <input class="user-name" type="text" placeholder="Username" />
            </div>
            <input class="user-password" type="text" placeholder="password" />
            <button class="signup-button text-center">Sign Up</button>
        </div>
    </div>
</section>
<script src="js/signup.js"></script>