body {
    background-color: green;
}

main {
    background-color: lightgray;
}

html {
    height: 100%;
  }
  
  body {
    margin: auto;
    font-family: "Orbitron", sans-serif;
  }
  
  header h1 {
    color: #6b472c;
    text-shadow: 0 0 15px white;
    font-size: 3rem;
  }
  header a {
    color: #e8a776;
    text-shadow: 0 0 15px white;
    font-size: 1.5rem;
  }

  
  h1 {
    font-family: monospace;
  }
  
  
  .blurred-box {
    position: relative;
    width: 250px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .user-login-box {
    position: relative;
    margin-top: 50px;
    text-align: center;
    z-index: 1;
  }
  .user-login-box > * {
    display: inline-block;
    width: 200px;
  }
  
  .user-icon {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background-size: contain;
  }
  .user-icon-signup {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background-size: contain;
  }
  
  .user-name {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #54cfb0;
  }
  
  input.user-password {
    color: #54cfb0;
  }
  
  .loginbox,
  .signupbox * {
    text-align: center;
    color: #54cfb0;
  }
  
  .login,
  .signup,
  .card-body button {
    background-color: #54cfb0;
    color: #b5b7bb;
  }
  .logout * {
    color: #b5b7bb;
    text-shadow: 0 0 10px #54cfb0;
  }
  
  .commentcard,
  .postcard {
    background-color: #54cfb0;
    color: #b5b7bb;
  }
  
  .commentform {
    color: #54cfb0;
  }
  
  .addSection {
    margin-left: 22%;
    background-color: #54cfb0;
    color: #b5b7bb;
  }
  #personalPosttitle {
    color: #b5b7bb;
    text-shadow: 0 0 25px #54cfb0;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  textarea {
    border-color: #54cfb0;
    border-width: 2%;
    color: #54cfb0;
  }
  
  .commentBox {
    background-color: #54cfb0;
    color: white;
  }